body {
    background: #AFD275; 
    font-family: 'Oxanium', cursive, arial;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #AFD275;
  }

button {
    outline: none;
    border: 4px solid #7E685A;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
    margin-top: 40px;
  }
  
button:hover {
    cursor: pointer;
    background: #C2B9B0;
    color: #FFFFFF;
  }

#board {
    display: grid;
    width: 375px;
    height: 375px;
    grid-template-columns: auto auto auto;
  }
  
.square {
    display: flex;
    width: 125px;
    height: 125px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid #E7717D;
    transition: background 0.2s ease-in-out;
  }

h1 {
    margin-bottom: 50px;
    font-size:  65px;
  }

  
.square:hover {
    cursor: pointer;
    background: #C2CAD0;
  }

#Square0, #Square1, #Square2 {
  border-top: none;
}

#Square0, #Square3, #Square6 {
  border-left: none;
}

#Square6, #Square7, #Square8 {
  border-bottom: none;
}

#Square2, #Square5, #Square8 {
  border-right: none;
}

#message {
    margin-bottom: 45px;
    margin-top: 0px;
    font-size: 50px;
    color:#7E685A;
    text-align: center;
}

.playerDashboard {
    display: flex;
    justify-content: space-between;
}

.playerInfo {
    width: 250px;
    height: 150px;
    text-align: center;
    margin-bottom: 55px;
}

.playerHeader {
    font-size: 35px;
    color: #E7717D;
}

.token {
    font-size: 50px;
}

footer {
  font-size: 10px;;
}

#music {
display: inline-block;
margin-top: 100px;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.gamesWon {
  font-size: 15px;
  color: #E7717D;
  margin-left: 0px;
  margin-right: 0px;
}

.score {
  font-size: 25px;
}
